/**
 * Created by ${author} on ${createDate?date}.
 */
'use strict';

app.controller('${entityNameUpperCase}Ctrl', function ${entityNameUpperCase}Ctrl($scope, $modal, $timeout, $log, $stateParams, resourceService) {

    $scope.breadcrumbs = [
        {'path': 'app.${routePath}', 'name': '${routeDisplayName}'}
    ];

    ///////////// table ///////////////
    var uuid = $stateParams.uuid;
    $scope.queryParams = {"conditions":[]};
    if(uuid) {
        $scope.queryParams.conditions.push({"name":"uuid","op":"=","value":uuid});
    }
    $scope.dataArr = [];
    $scope.colArr = [
<#list fields as field>
    <#if field.table?string == "true">
        <#if field.value == "uuid">
        {
            field: '${field.value}',
            displayName: '${field.name}',
            cellTemplate: '<a class="text-info" ui-sref="app.${routePath}_detail({uuid: row.entity.uuid})">{{ row.entity.name }}</a>'
        },
        <#elseif field.value == "state" || field.value == "status">
        {
            field: '${field.value}',
            displayName: '${field.name}',
            cellTemplate: '<sf-state type="${entityNameLowerCase}" state="row.entity.${field.value}"></sf-state>'
        },
        <#else>
        {
            field: '${field.value}',
            displayName: '${field.name}',
        },
        </#if>
    </#if>
</#list>
    ];

    $scope.params = {grid: {}, fun: {}};

    // callback function
    $scope.callFn = function(item){
        $scope.selectedItem = item;
    };

    function getAjaxData() {
        resourceService.${entityNameLowerCase}_query($scope.queryParams).then(function(response){
            if(response.errorCode==0){
                $scope.dataArr = response.result;
            }
        });
    };

    $scope.loadData = function() {
        getAjaxData();
    };

    $scope.loadData();

    $scope.refresh = function(){
        $scope.queryParams = {"conditions":[]};
        getAjaxData();
    };

    ///////////// Events ///////////////
    $scope.search = function() {
        var dataStructure = [
        <#list fields as field>
            <#if field.query?string == "true">
                {'name': '${field.name}', 'value':'${field.value}', 'type':'${field.type}'},
            </#if>
        </#list>
        ];
        $scope.params = dataStructure;
        var modalInstance = $modal.open({
            backdrop: false,
            templateUrl: '${entityNameLowerCase}_search',
            controller: 'SearchCtrl',
            resolve: {
                params: function () {
                    return $scope.params;
                }
            }
        });
        modalInstance.result.then(function (result) {
            $scope.queryParams.conditions = result;
            $scope.loadData();
        }, function () {
            $log.info('Modal dismissed at: ' + new Date());
        });
    };

    $scope.create = function(){
        $scope.params.grid = {state: "enabled"};
        $scope.params.fun = {name: "添加"};
        var modalInstance = $modal.open({
            backdrop: false,
            templateUrl: '${entityNameLowerCase}_create',
            controller: '${entityNameUpperCase}CreateCtrl',
            resolve: {
                params: function () {
                    return $scope.params;
                }
            }
        });

        modalInstance.result.then(function (selectedItem) {
            $timeout(function(){
                $scope.refresh();
            },1000);
        }, function () {
            $log.info('Modal dismissed at: ' + new Date());
        });
    };

    $scope.delete = function (size) {
        if (!$scope.selectedItem) {
            window.wxc.xcConfirm("未选择删除的资源！", window.wxc.xcConfirm.typeEnum.info);
            return;
        }
        var modalInstance = $modal.open({
            backdrop: false,
            templateUrl: '${entityNameLowerCase}_delete',
            controller: 'DeleteCtrl',
            size: size,
            resolve: {
                params: function () {
                    return $scope.rowItem;
                }
            }
        });

        modalInstance.result.then(function (deletingItemUuid) {
            resourceService.${entityNameLowerCase}_delete({"uuid": deletingItemUuid}).then(function(response){
                if(response.errorCode==0){
                    window.wxc.xcConfirm("${routeDisplayName}删除操作成功,请等待结果!", window.wxc.xcConfirm.typeEnum.success);
                } else {
                    window.wxc.xcConfirm("${routeDisplayName}删除操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }, function () {
            $log.info('Modal dismissed at: ' + new Date());
        });
    };

<#list operations as operation>
<#if operation.modal?string == "true">
    $scope.${operation.name} = function() {
        var modalInstance = $modal.open({
            backdrop: false,
            templateUrl: '${entityNameLowerCase}_${operation.name}',
            controller: '${entityNameUpperCase}${operation.nameUpper}Ctrl',
            size: 'modal-sm',
            resolve: {
                selectedItem: function () {
                    return $scope.selectedItem;
                }
            }
        });

        modalInstance.result.then(function (selectedItem) {
            $timeout($scope.refresh(), 1000);
        }, function () {
            $log.info('Modal dismissed at: ' + new Date());
        });
    };
<#else>
    $scope.${operation.name} = function() {
        if (!$scope.selectedItem) {
            window.wxc.xcConfirm("请选择要操作的资源!", window.wxc.xcConfirm.typeEnum.info);
            return;
        }
        resourceService.${entityNameLowerCase}_${operation.name}({"uuid": $scope.selectedItem.uuid}).then(function(response){
            if(response.errorCode==0){
                $scope.refresh();
                toaster.pop('success', '', '${entityNameUpperCase}${operation.displayName}操作提交成功,请等待结果!');
            } else {
                toaster.pop('error', '', '${entityNameUpperCase}${operation.displayName}操作提交失败,请联系管理员!');
            }
        });
    };
</#if>
</#list>

});

app.controller('${entityNameUpperCase}DetailCtrl', function ${entityNameUpperCase}DetailCtr($scope, $stateParams, resourceService){

    var uuid = $stateParams.uuid;

    getByUUID(uuid);

    function getByUUID(uuid) {
        $scope.queryParams = {"conditions":[{"name": "uuid", "value": uuid, "op":"="}]};
        resourceService.${entityNameLowerCase}_query($scope.queryParams).then(function(response){
            if(response.errorCode==0){
                $scope.current = response.result[0];
                $scope.breadcrumbs = [
                    {'path': 'app.resources.${entityNameLowerCase}', 'name': '${routeDisplayName}'},
                    {'path': 'app.resources.${entityNameLowerCase}_detail({uuid: "'+ $scope.current.name +'"})', 'name': $scope.current.name }
                ];
            }
        });
    };
});

app.controller('${entityNameUpperCase}CreateCtrl', ['$scope', '$modalInstance', 'resourceService', 'params', function ($scope, $modalInstance, resourceService, params){

    $scope.fun = params.fun;
    $scope.grid = params.grid;
    $scope.ok = function (isValid, add) {
        if (!isValid) return;
        $modalInstance.close($scope.grid);
        createAjax(add);
    };

    $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
    };

    function createAjax(parameters) {
        $scope.cancel();
        resourceService.${entityNameLowerCase}_create(parameters).then(function(response){
            if(response.errorCode==0){
                window.wxc.xcConfirm("${routeDisplayName}创建操作成功,请等待结果!", window.wxc.xcConfirm.typeEnum.success);
            } else {
                window.wxc.xcConfirm("${routeDisplayName}创建操作失败!", window.wxc.xcConfirm.typeEnum.error);
            }
        });
    }
}]);

<#list operations as operation>
<#if operation.modal?string == "true">
app.controller('${entityNameUpperCase}${operation.nameUpper}Ctrl', ['$scope', '$modalInstance', 'selectedItem', 'resourceService', 'toaster',
    function ($scope, $modalInstance, selectedItem, resourceService, toaster) {
    var params = {"uuid": selectedItem.uuid};
    $scope.ok = function () {
        $scope.cancel();
        resourceService.${entityNameLowerCase}_${operation.name}(params).then(function(response){
            if(response.errorCode==0){
                toaster.pop('success', '', '${entityNameUpperCase}${operation.displayName}操作提交成功,请等待结果!');
            } else {
                toaster.pop('error', '', '${entityNameUpperCase}${operation.displayName}操作提交失败,请联系管理员!');
            }
        });
    };

    $scope.cancel = function () {
        $modalInstance.dismiss('cancel');
    };
}]);
<#else>
</#if>
</#list>
