////////////////////////   Menu    ////////////////////////////////////
<li ui-sref-active="active">
    <a ui-sref="app.${routePath}">
        <i class="fa fa-cube text-primary-lter"></i><span>${routeDisplayName}</span>
    </a>
</li>

////////////////////////   Router    ////////////////////////////////////
.state('app.${routePath}', {
    url: '/${entityNameLowerCase}?uuid',
    templateUrl: 'views/resources/${entityNameLowerCase}/${entityNameLowerCase}.html',
    resolve: {
        deps: ['$ocLazyLoad',
            function ($ocLazyLoad) {
                return $ocLazyLoad.load('sf.ui.grid').then(
                    function () {
                        return $ocLazyLoad.load([
                            'views/resources/${entityNameLowerCase}/${entityNameLowerCase}.js'
                        ]);
                    }
                );
            }]
    }
})
.state('app.${routePath}_detail', {
    url: '/${entityNameLowerCase}_detail?uuid',
    templateUrl: 'views/resources/${entityNameLowerCase}/${entityNameLowerCase}_detail.html',
    controller: '${entityNameUpperCase}DetailCtrl',
    resolve: {
        deps: ['$ocLazyLoad',
            function( $ocLazyLoad ){
                return $ocLazyLoad.load([
                    'views/resources/${entityNameLowerCase}/${entityNameLowerCase}.js'
                ]);
            }]
    }
})
